<template name="home">
<div id="skrollr-body">
    {{> skrollrBackground}}

    <section id="intro" class=" head2 colored text-center">
<div class="container">
        <div class="row firstp ">
            <div class="col-sm-8 col-sm-offset-2 ">
                <img class="img-responsive imgboard" src="img/firstpage.jpg" width="912px" height="538px">

            </div>
        </div>

        <div class="animated pulse row center fpage">
           <a href="" class="playRules">HOW TO PLAY</a>
        </div>
         <div class="animated pulse row center fpage">
           <a href="{{pathFor 'entrySignUp'}}" class="playGame">START GAME</a>
        </div>
    </div>
      
<audio class="main" loop autoplay>
  <source src="sounds/warp.mp3" type="audio/mpeg" >
</audio>
<audio class="swoosh">
  <source src="sounds/swoosh.mp3" type="audio/mpeg" >
</audio>
    </section>

    
</div>
{{> footerHome}}
</template>
<template name="skrollrBackground">
<div
    id="skroll-background-intro"
    class="parallax-image-wrapper parallax-image-wrapper-100"
    data-anchor-target="#intro"
    data-bottom-top="transform:translate3d(0px, 200%, 0px)"
    data-top-bottom="transform:translate3d(0px, 0%, 0px)">
    <div
        class="parallax-image parallax-image-100"
        data-anchor-target="#intro"
        data-bottom-top="transform: translate3d(0px, -80%, 0px);"
        data-top-bottom="transform: translate3d(0px, 80%, 0px);"
    ></div>
   
</div>
</template>
<template name="footerHome">
  
</template>