body{
  background-color: #ECF0F1;
}

.right{
  float: right;
}



.card-panel {
  padding: 20px;
  margin: 0.5rem 0 1rem 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-clip: padding-box;
  background-color: #fff; }

.card {
  max-width: 100% !important;
  height: 450px !important;
  position: relative;
  overflow: hidden;
  margin: 0.5rem 0 1rem 0;
  background-color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
  background-clip: padding-box; 
  }
  .card-title{ 
  opacity:0; 
  } 
.card:hover .card-title { 
  opacity:0.9; 
  /*color:green; */
  font-size:20px; 
  font-weight:700; 
  background-color: #ECF0F1;
  /*bottom:250px;*/
  } 


  .card .card-image {
    position: relative;
    overflow: hidden; 
    display: inline-block;
    padding-top: 3%;

  }
    .card .card-image img {
      -webkit-border-radius: 2px 2px 0 0;
      -moz-border-radius: 2px 2px 0 0;
      border-radius: 2px 2px 0 0;
      background-clip: padding-box;
      position: relative;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      max-width: 100% !important;
      height: 400px !important;
      /*opacity: 0.9;*/

    }
   
  .grey-text.text-darken-4 {
  color: #212121 !important; }

  .clicked
  {
    opacity: 0.5;
  }

  #next-post {
  width: 100%;
  text-align: center;
  padding: 30px 30px; 
  background-color:rgba(255,255,255,0.5);
  border-radius: 20px;
  font-size: 2em;
  line-height: .8em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  z-index: 8;
  color: #222;
}

 #next-post {
  display: none;
}

#next-post button {
  border: none;
  width: 200px;
  font-size: .5em;
  padding: 10px 0;
  display: block;
  margin: auto;
  background-color: #CF000F;
  border-radius: 10px;
  color: #fff;
  font-weight: 400;
  margin-top: 15px;
}

#next-post p {
  font-size: 14px;
}

.btn.btn-block.btn-social.btn-facebook {
  border: none;
  width: 400px;
  font-size: .5em;
  padding: 10px 0;
  display: block;
  margin: auto;
  background-color: #3b5998;
  border-radius: 10px;
  color: #fff;
  font-weight: 400;
  margin-top: 15px;
}

.sml {
  font-size: 24px;
}

.post-icon-like{
  color: #9A12B3;
}
.post-icon-comment{
  color: #CF000F;
}

#totalscorescard {
  width: 100%;
  text-align: center;
  padding: 20px; 
  background-color:rgba(255,255,255,0.5);
  border-radius: 10px;
  font-size: 2em;
  line-height: .8em;
  
  color: #222;
}

#totalscorescard table{
  font-size: 14px;
}

#totalscorescard table td{
  font-size: 14px;
  font-weight: 700;
}


#totalscorescard .button {
  border: none;
  width: 400px;
  font-size: .5em;
  padding: 10px 0;
  display: block;
  margin: auto;
  background-color: #CF000F;
  border-radius: 10px;
  color: #fff;
  font-weight: 400;
  margin-top: 15px;
}

.marry {
      /*height: 200px;
      width: 22px;*/
      /*border: 1px solid #cef;*/
      position: relative;
      display: inline-block;
  }
  .filler1{
      height: 0%;
      width: 22px;
      position: absolute;
      bottom: 0;
      background-color: #234;
  }
    .hook{
      /*display: inline-block;
      height: 200px;
      width: 22px;
      border: 1px solid #cff;*/
      position: relative;
  }
  .filler2{
      height: 0%;
      width: 22px;
      position: absolute;
      bottom: 0;
      background-color: #cbb;
  }


.kill {
       /* height: 200px;
        width: 22px;
        border: 1px solid #cf000f;*/
        position: relative;
        display: inline-block;
    }
.filler3 {
  height: 0%;
  display: block;
  width: 22px;
  position: absolute;
  bottom: 0;
  background-color: #9c000b;
}

    