<template name="addPost">
	<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Add a Post</h3>
			</div>
			<div class="panel-body">
				{{#autoForm id="insertPostForm" collection="Posts" type="insert"}}
				{{> afQuickField name="title"}}
				<!-- {{> afQuickField name="picture"}} -->
				{{> afQuickField name='celeb1s' options=celebOptions}}
	            {{> afQuickField name='celeb2s' options=celebOptions}}
	            {{> afQuickField name='celeb3s' options=celebOptions}}
				<!-- {{> afFileUpload name="picture" collection="Attachments"}} -->
				<button type="submit" class="btn btn-primary">Add Post</button>
				{{/autoForm}}
			</div>


	</div>
</template>