<template name="celebStats">
<h1>Well done! See the Latest Celebrity Trending Stats below:</h1>
		<div id="totalscorescard" class="container">
				<table class="table table-bordered table-responsive">
				<tbody>
				<tr>
				  	<td>Celeb Name</td>
				  	<td>Marry Count</td>
				  	<td>HookUp Count</td>
				  	<td>Kill Count</td>
				  </tr>
				{{#each Celebs}}
				  <tr>
				  	<td>{{name}}</td>
				  	<td>{{nMarry}}</td>
					<td>{{nLaid}}</td>
					<td>{{nKill}}</td>
				  </tr>
				{{/each}}

				</tbody>
				</table>


				<div class="container">
				{{#if currentUser}}		   
				<a href="http://whowouldyourather.meteor.com/play" class="btn button"><span>Play again?</span></a>
				{{else}}
				<a href="http://whowouldyourather.meteor.com/play" class="btn button"><span>Try out the WhoWouldYouRather Quiz</span></a>
		
				{{/if}}
				<!-- <a href="http://www.facebook.com/sharer.php?u=/play" target="_blank" class="btn btn-block btn-social btn-facebook">
					<i class="fa fa-facebook"></i>   Share on Facebook
				</a> -->
				</div>

		</div>
</template>